Importing libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

Loading Data

In [2]:
FDI = pd.read_csv('FDI data.csv', encoding= 'unicode_escape')

Data Exploration and Cleaning

In [3]:
FDI.shape

(63, 18)

In [4]:
FDI.head()

,Sector,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
0,METALLURGICAL INDUSTRIES,22.69,14.14,36.61,8.11,200.38,149.13,169.94,1175.75,959.94,419.88,1098.14,1786.14,1466.23,567.63,359.34,456.31,1440.18
1,MINING,1.32,6.52,10.06,23.48,9.92,7.40,6.62,444.36,34.16,174.40,79.51,142.65,57.89,12.73,684.39,520.67,55.75
2,POWER,89.42,757.44,59.11,27.09,43.37,72.69,157.15,988.68,907.66,1271.79,1271.77,1652.38,535.68,1066.08,707.04,868.80,1112.98
3,NON-CONVENTIONAL ENERGY,0.00,0.00,1.70,4.14,1.27,1.35,2.44,58.82,125.88,622.52,214.40,452.17,1106.52,414.25,615.95,776.51,783.57
4,COAL PRODUCTION,0.00,0.00,0.00,0.04,0.00,9.14,1.30,14.08,0.22,0.00,0.00,0.00,0.00,2.96,0.00,0.00,0.00

In [5]:
FDI.style.set_caption('Amount in US$ Millions').format(precision=2)

In [6]:
FDI.columns

Index(['Sector', '2000-01', '2001-02', '2002-03', '2003-04', '2004-05',
       '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11',
       '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17'],
      dtype='object')

Column Details:
There are two types of columns:
1.The firstcolumn is the 'Sector'column in which there are 63different sector that received FDI from 2001-01 to 2016-17
2.The other columns are 'Year wise' columns in which we can see how much different sectors received investment from 2001-01 to2016-17

In [7]:
Year = [ '2000-01', '2001-02', '2002-03', '2003-04', '2004-05',
       '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11',
       '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17']
Sectors = ['Sector']

In [8]:
FDI.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Sector   63 non-null     object
 1   2000-01  63 non-null     float64
 2   2001-02  63 non-null     float64
 3   2002-03  63 non-null     float64
 4   2003-04  63 non-null     float64
 5   2004-05  63 non-null     float64
 6   2005-06  63 non-null     float64
 7   2006-07  63 non-null     float64
 8   2007-08  63 non-null     float64
 9   2008-09  63 non-null     float64
 10  2009-10  63 non-null     float64
 11  2010-11  63 non-null     float64
 12  2011-12  63 non-null     float64
 13  2012-13  63 non-null     float64
 14  2013-14  63 non-null     float64
 15  2014-15  63 non-null     float64
 16  2015-16  63 non-null     float64
 17  2016-17  63 non-null     float64
dtypes: float64(17), object(1)
memory usage: 9.0+ KB

In [9]:
pd.isnull(FDI).sum()

Sector     0
2000-01    0
2001-02    0
2002-03    0
2003-04    0
2004-05    0
2005-06    0
2006-07    0
2007-08    0
2008-09    0
2009-10    0
2010-11    0
2011-12    0
2012-13    0
2013-14    0
2014-15    0
2015-16    0
2016-17    0
dtype: int64

In [10]:
FDI.duplicated().value_counts()

False    63
Name: count, dtype: int64

In [11]:
#craeting Average Exchange Rate list  :-Reference (RBI website)
Rates =[45,68,47,69,48,39,45,95,44,93,44,27,45,24,40,26,45,99,47,44,45,56,47,92,54,40,60,50,61,14,65,46,67,7]

Converting American $ toIndian :

In [12]:
#Cteating a function to convert FDI'S value from USD to INR
def multiply_columns(df, col_list,num):
    for col in col_list:
        df[col] =df[col] * Rates[col_list.index(col)]/10
        return df

In [13]:
FDI_InUSD=FDI.copy()
FDI_02 = multiply_columns(FDI, Year, Rates)

In [14]:
#FDI INFLOWS (amount in  crores)
FDI_02.style.set_caption("FDI INFLOWS (Amount in  crores)").format(precision=2)

Unpivioting/Melting/reshaping Dataframes from wide to long format

In [15]:
#Unpivoting melt Dataframe
melt = pd.melt(FDI_InUSD, Sectors, value_vars = Year, var_name='Year', value_name='FDI(US$ Million)',ignore_index=True)
melt1=round(melt,2)
melt

,Sector,Year,FDI(US$ Million)
0,METALLURGICAL INDUSTRIES,2000-01,22.69
1,MINING,2000-01,1.32
2,POWER,2000-01,89.42
3,NON-CONVENTIONAL ENERGY,2000-01,0.00
4,COAL PRODUCTION,2000-01,0.00
...,...,...,...
1066,PRINTING OF BOOKS (INCLUDING LITHO PRINTING IN...,2016-17,53.17
1067,COIR,2016-17,0.00
1068,CONSTRUCTION (INFRASTRUCTURE) ACTIVITIES,2016-17,1860.73
1069,"CONSTRUCTION DEVELOPMENT: Townships, housing, ...",2016-17,105.14
1070,MISCELLANEOUS INDUSTRIES,2016-17,296.40

In [16]:
#Unpivoting melt01 Datframe
melt01 = pd.melt(FDI_02, id_vars = Sectors, value_vars = Year, var_name='Year', value_name='FDI( Crores)',ignore_index=True)
melt01=round(melt01,2)
melt01

,Sector,Year,FDI( Crores)
0,METALLURGICAL INDUSTRIES,2000-01,102.10
1,MINING,2000-01,5.94
2,POWER,2000-01,402.39
3,NON-CONVENTIONAL ENERGY,2000-01,0.00
4,COAL PRODUCTION,2000-01,0.00
...,...,...,...
1066,PRINTING OF BOOKS (INCLUDING LITHO PRINTING IN...,2016-17,53.17
1067,COIR,2016-17,0.00
1068,CONSTRUCTION (INFRASTRUCTURE) ACTIVITIES,2016-17,1860.73
1069,"CONSTRUCTION DEVELOPMENT: Townships, housing, ...",2016-17,105.14
1070,MISCELLANEOUS INDUSTRIES,2016-17,296.40

In [17]:
#Merging the FDI(US$ Million) column of melt Dataframe into melt01Dataframe
Merged=melt01.merge(melt,how='left')
Merged

,Sector,Year,FDI( Crores),FDI(US$ Million)
0,METALLURGICAL INDUSTRIES,2000-01,102.10,22.69
1,MINING,2000-01,5.94,1.32
2,POWER,2000-01,402.39,89.42
3,NON-CONVENTIONAL ENERGY,2000-01,0.00,0.00
4,COAL PRODUCTION,2000-01,0.00,0.00
...,...,...,...,...
1066,PRINTING OF BOOKS (INCLUDING LITHO PRINTING IN...,2016-17,53.17,53.17
1067,COIR,2016-17,0.00,0.00
1068,CONSTRUCTION (INFRASTRUCTURE) ACTIVITIES,2016-17,1860.73,1860.73
1069,"CONSTRUCTION DEVELOPMENT: Townships, housing, ...",2016-17,105.14,105.14
1070,MISCELLANEOUS INDUSTRIES,2016-17,296.40,296.40

In [18]:
#sorting the sectors and year columns
Sorted = Merged.sort_values(['Sector','Year'], ignore_index=True)
Sorted

                            Sector     Year  FDI( Crores)  FDI(US$ Million)
0           AGRICULTURAL MACHINERY  2000-01          16.38              3.64
1           AGRICULTURAL MACHINERY  2001-02           1.04              1.04
2           AGRICULTURAL MACHINERY  2002-03          13.48             13.48
3           AGRICULTURAL MACHINERY  2003-04          47.54             47.54
4           AGRICULTURAL MACHINERY  2004-05           0.00              0.00
...                            ...      ...            ...               ...
1066  VEGETABLE OILS AND VANASPATI  2012-13         108.39            108.39
1067  VEGETABLE OILS AND VANASPATI  2013-14          21.55             21.55
1068  VEGETABLE OILS AND VANASPATI  2014-15         148.34            148.34
1069  VEGETABLE OILS AND VANASPATI  2015-16          34.22             34.22
1070  VEGETABLE OILS AND VANASPATI  2016-17         108.45            108.45

[1071 rows x 4 columns]

In [19]:
#repla cing someLong Valuesof sector column to short form
Sorted = Sorted[['Sector', 'FDI( Crores)', 'FDI(US$ Million)',]].replace(["CONSTRUCTION DEVELOPMENT: TownshipS, housing, built-up infrastruture and construction-development project","SERVICES SECTOR(Fin.Banking,Insurance,Non Fin/Business,Outsorcing,R&D,Courier,Tech. Testing and Analysis,other)",
  'TEA AND COFFEE(PROCESSING & WAREHOUSING COFFEE & RUBBER)'],["CONSTRUCTION DEVELOPMENT","SERVICES SECTOR",'TEA AND COFFEE'])

Sectorwise Total FDI 2000-17

In [20]:
#Grouping by Sector Column to find total FDI Inflow per sector from FY2000-01 to FY2016-17
Sectorwise_fdi = Sorted.groupby('Sector').sum()
Sectorwise_fdi.sort_values(by='FDI(US$ Million)',ascending=False)

,FDI( Crores),FDI(US$ Million)
Sector,,
"SERVICES SECTOR (Fin.,Banking,Insurance,Non Fin/Business,Outsourcing,R&D,Courier,Tech. Testing and Analysis, Other)",59726.32,59476.49
COMPUTER SOFTWARE & HARDWARE,25468.85,24669.49
"CONSTRUCTION DEVELOPMENT: Townships, housing, built-up infrastructure and construction-development projects",24378.24,24293.09
TELECOMMUNICATIONS,24567.92,23946.01
AUTOMOBILE INDUSTRY,17357.57,16673.92
...,...,...
PHOTOGRAPHIC RAW FILM AND PAPER,67.28,67.28
COAL PRODUCTION,27.74,27.74
"MATHEMATICAL,SURVEYING AND DRAWING INSTRUMENTS",7.98,7.98
DEFENCE INDUSTRIES,5.12,5.12
COIR,4.06,4.06

In [21]:
Merged.to_csv('clean_FDI.csv',index=False)

Conclusion

In [22]:
#creating a new column with year 2000-17 in sectorwise_fdi dataframe
Sectorwise_fdi['Year'] = '2000-17'

In [23]:
Sectorwise_fdi = Sectorwise_fdi[['Year','FDI( Crores)', 'FDI(US$ Million)']]
Seactorwise_fdi['% of Total Inflows'] = (Sectorwise_fdi['FDI( Crores)']/ Sectorwise_fdi['FDI( Crores)'].sum())*100

NameError: name 'Seactorwise_fdi' is not defined

In [ ]:
Sort_val1 = Sectorwise_fdi.sort_values('FDI( Crores)',ascending=False)
Sort_val= Sort_val1.style.set_caption("SECTOR-WISE FDI INFLOWS").format(precision=3)
Sort_val

The Sectural composition of FDI over the period of April 2000 to June 2017, we can find at the largest recipient of such investment is service sector (Financial and non financial services). The share of this sector in FDI flows 17% of the inflow total foreign direct  Investment

The foreign investors are intrested in mainly financial services due its profit ganerating advantage. This sector gives scope for the foreign investor to takes back the profit to the home entry. As services sector the services consumed in the host country and there by generaling outflow of funds from the host country.

The second recipient is Computar software and hardware which shares 7% of total FDI. Telecommunication, Construction Development, Automobile  industry ,Trade, Drugs and Pharmaceuticals,chemical(other than Fertilizers),Power,Construction,Hotel and Tourism contribute around 7%,6&,5%,4.7%,4%,3%,3%.
Their is very low interset towards sectors like Coir, Defence Industries, Mathematical, surveying and drawing Instruments, Coal Production and there are around 28 to 30 sectors where share is less thanorequalto1%.